extends layout

block nav
  include includes/nav

block content
  h1 Twoja frekwencja
  label.label
    input#start(type="date")
    span Od
  label.label
    input#end(type="date")
    span Do
  table.days
    for day in days
      tr
        td=day.date
        td
          for lesson in day.lessons
            .lesson
              if lesson
                .name=lesson.lesson.name
                .present=lesson.present