doctype 5
html
  head
    title PresentAbsent
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src="http://code.jquery.com/jquery.min.js")
  body
    .wrapper
      block nav
      block content