extends layout

block content
  h1 Zaloguj się
  p.description Zaloguj się podając dane dostępowe do Twojego konta na stronie dziennika elektronicznego.
  if message
    p.message!=message
  form.login(action="/login", method="post")
    label.label
      input(type="text", name="login", required)
      span Login
    label.label
      input(type="password", name="password", required)
      span Hasło
    label.label
      select(name="className")
        for name in classes
          option=name
      span Klasa
    label.label
      input(type="text", name="license", value="00088", required)
      span ID szkoły
    label.label
      input(type="submit", value="Wejdź")