body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #d3d3d3;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  text-shadow: 0px 0px 3px #808080;
}
input[type="submit"],
button {
  border: 1px solid #000;
  padding: 5px;
  background: #fff;
  box-shadow: 1px 1px 8px #000;
  font-weight: bold;
  border-radius: 5px;
}
input[type="submit"]:hover,
button:hover {
  box-shadow: -1px -1px 8px #000;
  background: #d3d3d3;
}
input {
  border-radius: 8px;
  padding: 4px;
}
.message {
  background: #ffffe0;
  border: 1px solid #000;
  padding: 8px;
}
.loader {
  position: fixed;
  background: url("../images/loading.gif") no-repeat;
  box-shadow: 0px 0px 20px #000;
  border-radius: 64px;
  opacity: 0.7;
  width: 64px;
  height: 64px;
}
.wrapper {
  width: 850px;
  padding: 20px;
  border: 10px solid #000;
  background: #fff;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: 0px 0px 20px #000;
  border-radius: 5px;
  overflow: hidden;
}
.menu {
  width: 890px;
  margin: -20px;
  display: table;
  padding: 0;
  border-bottom: 10px solid #000;
  table-layout: fixed;
  margin-bottom: 20px;
  background: #000;
}
.menu li {
  display: table-cell;
  text-align: center;
}
.menu a {
  position: relative;
  color: #fff;
  display: block;
  background: rgba(0,0,0,0);
  text-decoration: none;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-bottom: none;
  z-index: 10;
}
.indicator {
  padding: 0;
  margin: 0;
  background: #808080;
  position: absolute;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #000;
}
.description {
  border: 1px solid #d3d3d3;
  padding: 5px;
}
.label {
  display: table-cell;
  vertical-align: top;
}
.label span {
  display: table-row;
  font-style: italic;
  color: #808080;
}
.schedule {
  display: table;
  margin: 0 auto;
}
.schedule table {
  border-collapse: collapse;
}
.schedule table,
.schedule td,
.schedule th {
  border: 1px solid #808080;
}
.schedule td,
.schedule th {
  width: 1px;
  white-space: nowrap;
  padding: 10px;
  vertical-align: top;
}
.schedule th {
  background: #d3d3d3;
}
.schedule .group {
  margin-left: 10px;
  font-style: italic;
}
.schedule .conflict {
  color: #f00;
}
.schedule .remove {
  width: 10px;
  height: 10px;
  margin: -9px;
  float: right;
  background: url("../images/remove.png");
  opacity: 0.5;
}
.schedule .remove:hover {
  opacity: 1;
}
.active-lesson {
  background: #d3d3d3;
  outline: 1px solid #808080;
}
.bar {
  background: url("../images/toggle_plus.png") no-repeat #808080;
  box-shadow: inset 0 0 10px #000;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
}
.toggle {
  display: none;
  margin-left: 30px;
  margin-top: 10px;
}
.days .date {
  background: #808080;
  color: #fff;
}
.days td {
  padding: 3px;
  text-align: center;
}
.days .present {
  color: #f00;
  font-weight: bold;
}
.days tr:nth-child(even) {
  background: #d3d3d3;
}
.frequency .name {
  font-weight: bold;
  background: #808080;
  color: #fff;
}
.frequency td {
  padding: 10px;
}
.frequency tr:nth-child(even) {
  background: #d3d3d3;
}
